<!doctype html>
<html lang=en>
<meta charset=utf-8>
<head>
  {% if session['logged_in'] %}
  <title> {{ session['username'] }}</title>

  {% else %}

  <title>Game Jam</title>

  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="../">Game Jams</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item{% if page_id == 'user_info_id' %} active{% endif %}">
          <a class="nav-link" href="/user/{{session['username']}}">{{ session['username'] }}</a>
        </li>

        <li class="nav-item{% if page_id == 'info' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('info') }}">Info</a>
        </li>
        {% if session['logged_in'] %}
        <li class="nav-item{% if page_id == 'download' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('download') }}">Download</a>
        </li>
        {% endif %}
        {% if session['logged_in'] %}
        <li class="nav-item{% if page_id == 'create-team' %} active{% endif %}">
            <a role="presentation" class="nav-link" data-toggle="modal" data-target="#create-team" href="#">Stwórz zespół</a>
        </li>
        <li class="nav-item{% if page_id == 'create-jam' %} active{% endif %}">
            <a role="presentation" class="nav-link" data-toggle="modal" data-target="#create-jam" href="#">Organizuj GAME-JAM</a>
        </li>
        <li class="nav-item{% if page_id == 'logout' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('logout') }}">Wyloguj się</a>
        </li>
        {% endif %}

        {% if not session['logged_in']%}
        <li class="nav-item{% if page_id == 'register' %} active{% endif %}">
          <a role="presentation" class="nav-link" data-toggle="modal" data-target="#register" href="#">Zarejestruj się</a>
        </li>
        <li class="nav-item{% if page_id == 'login' %} active{% endif %}">
          <a role="presentation" class="nav-link" data-toggle="modal" data-target="#login" href="#">Zaloguj</a>
        </li>
        {% endif %}


      </ul>
        <!--Beginning of register form-->
      <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zarejestruj się</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/register/">
                  <dl>
                    <dt><label for="username">Nazwa użytkownika</label></dt>
                    <dd><input id="username" name="username" type="text" value=""></dd>

                    <dt><label for="email">Adres e-mail</label></dt>
                    <dd><input id="email" name="email" type="text" value=""></dd>

                    <dt><label for="password">Nowe hasło</label></dt>
                    <dd><input id="password" name="password" type="password" value=""></dd>

                    <dt><label for="confirm">Powtórz hasło</label></dt>
                    <dd><input id="confirm" name="confirm" type="password" value=""></dd>

                    <dt><label for="job">jaka jest twoja funkcja</label></dt>
                    <dd>
                    <select id="job" name="job" type="text">
                    <option value="Programista">Programista</option>
                    <option value="Dźwiękowiec">Dźwiękowiec</option>
                    <option value="Grafik">Grafik</option>
                  </select>
                      </dd>
                    <dt><label for="accept_tos">Akceptuję <a href="/about/tos" target="blank">Warunki użytkowania</a> i <a href="/about/privacy-policy" target="blank">Politykę prywatności</a> (zaktualizowana 17 stycznia 2018r.) <input id="accept_tos" name="accept_tos" type="checkbox" value="y"></label></dt>
                  </dl>
                  <p><input class="btn btn-primary" type=submit value="Zarejestruj się"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--The end of register form, the beginning of new team form-->
<div class="modal fade" id="create-team" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Stwórz zespół</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/create-team/">
                  <dl>
                    <dt><label for="name">Nazwa zespołu</label></dt>
                    <dd><input id="name" name="name" type="text" value=""></dd>
                   </dl>
                  <p><input class="btn btn-primary" type=submit value="Stwórz"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--create-jam-->
  <div class="modal fade" id="create-jam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Stwórz GAME-JAM</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                {% if organizer or admin%}
                <form method=post action="/create-jam/">
                  <dl>
                    <dt><label for="jam_name">Nazwa GAME-JAMu</label></dt>
                    <dd><input id="jam_name" name="jam_name" type="text" value=""></dd>

                    <dt><label for="jam_theme">Motyw przewodni jamu</label></dt>
                    <dd><input id="jam_theme" name="jam_theme" type="text" value=""></dd>
                   </dl>
                  <p><input class="btn btn-primary" type=submit value="Stwórz"></p>
                </form>
                {%else%}
                <div class="row">
                  <div class="col text-center">
                  <p>Aby zorganizować GAME-JAM musisz być organizatorem</p>
                  <a role="presentation" data-toggle="modal" data-target="#become-organizer" href="#" data-dismiss="modal" class="btn btn-secondary center">Zostań organizatorem</a>
                </div>
                </div>
                {%endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Become organizer -->
<div class="modal fade" id="become-organizer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zostań organizatorem</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/become-organizer/">
                  <dl>
                    <dt><label for="fullname">Pełne imię i nazwisko</label></dt>
                    <dd><input id="fullname" name="fullname" type="text" value=""></dd>
                    <dt><label for="birthdate">Data urodzenia</label></dt>
                    <dd><input id="birthdate" name="birthdate" type="text" value=""></dd>
                    <dt><label for="about">O tobie</label></dt>
                    <dd><input id="about" name="about" type="text" value=""></dd>
                    <dt><label for="why">Dlaczego chcesz organizować gamejam?</label></dt>
                    <dd><input id="why" name="why" type="text" value=""></dd>
                  </dl>
                  <p><input class="btn btn-primary" type=submit value="Prześlij zgłoszenie"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--The end of new jam form,, the beginning of login form-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zaloguj się</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/login/">
                  <dl>
                    <dt><label for="username">Nazwa użytkownika</label></dt>
                    <dd><input autofocus id="username" name="username" type="text" value=""></dd>

                    <dt><label for="password">Hasło</label></dt>
                    <dd><input id="password" name="password" type="password" value=""></dd>
                  </dl>
                  <p><input class="btn btn-primary" type=submit value=Zaloguj></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- The end of login form -->
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="messages">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div data-alert class="alert alert-success alert-dismissible show">
                {% for message in messages %}
                  <li>{{ message|urlize(30) }}</li>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>