<!doctype html>
<html lang=en>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  {% if session['logged_in'] %}
  <title> {{ session['username'] }}</title>

  {% else %}

  <title>Game Jam</title>

  {% endif %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">


<!--Tworzenie nowej klasy mynewmodal do wyświetlania informacji o cookies-->
    <style>
modal{
z-index: 1;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.mynewmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 100;
    top: 100;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.mynewmodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:3000px; opacity:0}
    to {top:0; opacity:1}
}





.mynewmodal-header {
    padding: 2px 16px;
    background-color: #1491e5;
    color: white;
}

.mynewmodal-body {padding: 2px 16px;}

.xdcolour{
color: #1491e5;
}
</style>

<!--koniec nowej klasy mynewmodal-->


</head>

<body style="background-image:url(../static/sw.jpg); background-repeat: no-repeat; background-attachment: fixed;">

  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Game Jams</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item{% if page_id == 'user_info_id' %} active{% endif %}">
          <a class="nav-link" href="/user/{{session['username']}}">{{ session['username'] }}</a>
        </li>

        <li class="nav-item{% if page_id == 'info' %} active{% endif %}">
          <a class="nav-link xdcolour" href="{{ url_for('info') }}">Info</a>
        </li>
        {% if session['logged_in'] %}
        <li class="nav-item{% if page_id == 'download' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('download') }}">Download</a>
        </li>
    {% if not team_leader%}
        <li class="nav-item{% if page_id == 'create-team' %} active{% endif %}">
            <a role="presentation" class="nav-link" data-toggle="modal" data-target="#create-team" href="#">Stwórz zespół</a>
        </li>
          {%endif%}
        <li class="nav-item{% if page_id == 'create-jam' %} active{% endif %}">
            <a role="presentation" class="nav-link" data-toggle="modal" data-target="#create-jam" href="#">Organizuj GAME-JAM</a>


          {% if admin or organizer or member %}
          <li class="nav-item{% if page_id == 'jams' %} active{% endif %}">
          <a class="nav-link" href="/jams">Game Jamy</a>
        </li>
       {%endif%}

        {% if admin %}
        <hr class="hr-nav">
         <li class="nav-item{% if page_id == 'admin' %} active{% endif %}">

          <a class="btn btn-warning btn-block" href="/admin">Funkcje administratora  </a>
         </li>
        <hr class="hr-nav">
        {%endif%}


        <hr class="hr-nav">
         <li class="nav-item{% if page_id == 'logout' %} active{% endif %}">

          <a class="btn btn-secondary btn-block" href="{{ url_for('logout') }}">Wyloguj się</a>
         </li>
        <hr class="hr-nav">
        {% endif %}

        {% if not session['logged_in']%}
        <li class="nav-item{% if page_id == 'register' %} active{% endif %}">
          <a role="presentation" class="nav-link" data-toggle="modal" data-target="#register" href="#">Zarejestruj się</a>
        </li>
        <li class="nav-item{% if page_id == 'login' %} active{% endif %}">
          <a role="presentation" class="nav-link" data-toggle="modal" data-target="#login" href="#">Zaloguj</a>
        </li>
        {% endif %}
      </ul>
        {% if session['username']%}
      <form class="form-inline mt-2 mt-md-0" method="get" action="/search/">
            <input class="form-control mr-sm-2" type="text" name="search" id="search"  placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
{%endif%}
      <!--{% if not session['accepted']%}-->
  <!--<li class="nav-item{% if page_id == 'accept' %} active{% endif %}">-->
          <!--<a role="presentation" class="nav-link" data-toggle="modal" data-target="#accept" href="#">cookies</a>-->
        <!--</li>-->

    <!--{%endif%}-->
      <!--cookies accept form-->
    </div>
</nav>
        <!--Beginning of register form-->
      <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zarejestruj się</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/register/">
                  <dl>
                    <dt><label for="username">Nazwa użytkownika</label></dt>
                    <dd><input id="username" name="username" type="text" value="" autofocus></dd>

                    <dt><label for="email">Adres e-mail</label></dt>
                    <dd><input id="email" name="email" type="text" value=""></dd>

                    <dt><label for="password">Nowe hasło</label></dt>
                    <dd><input id="password" name="password" type="password" value=""></dd>

                    <dt><label for="confirm">Powtórz hasło</label></dt>
                    <dd><input id="confirm" name="confirm" type="password" value=""></dd>

                    <dt><label for="job">jaka jest twoja funkcja</label></dt>
                    <dd>
                    <select id="job" name="job" type="text">
                    <option value="Programista">Programista</option>
                    <option value="Dźwiękowiec">Dźwiękowiec</option>
                    <option value="Grafik">Grafik</option>
                  </select>
                      </dd>
                    <dt><label for="accept_tos">Akceptuję <a href="/about/tos" target="blank">Warunki użytkowania</a> i <a href="/about/privacy-policy" target="blank">Politykę prywatności</a> (zaktualizowana 17 stycznia 2018r.) <input id="accept_tos" name="accept_tos" type="checkbox" value="y"></label></dt>
                  </dl>
                  <p><input class="btn btn-primary" type=submit value="Zarejestruj się"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--The end of register form, the beginning of new team form-->
<div class="modal fade" id="create-team" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Stwórz zespół</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/create-team/">
                  <dl>
                    <dt><label for="name">Nazwa zespołu</label></dt>
                    <dd><input id="name" name="name" type="text" value="" autofocus></dd>
                   </dl>
                  <p><input class="btn btn-primary" type=submit value="Stwórz"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--create-jam-->
  <div class="modal fade" id="create-jam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Stwórz GAME-JAM</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                {% if organizer or admin%}
                <form method=post action="/create-jam/">
                  <dl>
                    <dt><label for="jam_name">Nazwa GAME-JAMu</label></dt>
                    <dd><input id="jam_name" name="jam_name" type="text" value="" autofocus></dd>

                    <dt><label for="jam_theme">Motyw przewodni jamu</label></dt>
                    <dd><input id="jam_theme" name="jam_theme" type="text" value=""></dd>

                    <dt><label for="jam_description">Opis jamu</label></dt>
                      <dt><textarea name="jam_description" id="jam_description" style="width:250px;height:150px;"></textarea></dt>
                   </dl>
                  <p><input class="btn btn-primary" type=submit value="Stwórz"></p>
                </form>
                {%else%}
                <div class="row">
                  <div class="col text-center">
                  <p>Aby zorganizować GAME-JAM musisz być organizatorem</p>
                  <a role="presentation" data-toggle="modal" data-target="#become-organizer" href="#" data-dismiss="modal" class="btn btn-secondary center">Zostań organizatorem</a>
                </div>
                </div>
                {%endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Become organizer -->
<div class="modal fade" id="become-organizer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zostań organizatorem</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/become-organizer/">
                  <dl>
                    <dt><label for="fullname">Pełne imię i nazwisko</label></dt>
                    <dd><input id="fullname" name="fullname" type="text" value="" autofocus></dd>


                    <dt><label for="birthdate_day">Podaj swoją datę urodzenia</label></dt>
                    <dd>

                    <select id="birthdate_day" name="birthdate_day" type="text">
                      {% for a in range(1,32) %}
                    <option value="{{a}}">{{a}}</option>
                      {% endfor%}
                    </select>

                      <select id="birthdate_month" name="birthdate_month" type="text">
                      <option value="01">Styczeń</option>
                      <option value="02">Luty</option>
                        <option value="03">Marzec</option>
                        <option value="04">Kwiecień</option>
                        <option value="05">Maj</option>
                        <option value="06">Czerwiec</option>
                        <option value="07">Lipiec</option>
                        <option value="08">Sierpień</option>
                        <option value="09">Wrzesień</option>
                        <option value="10">Październik</option>
                        <option value="11">Listopad</option>
                        <option value="12">Grudzień</option>
                      </select>

                   <select id="birthdate_year"    name="birthdate_year" type="text">
                      {% for a in range(2017, 1800,-1) %}
                    <option value="{{a}}">{{a}}</option>
                      {% endfor%}
                  </select>
                    </dd>

                      <dt><label for="about">Napisz coś o sobie</label></dt>
                      <dt><textarea name="about" id="about" style="width:250px;height:150px;"></textarea></dt>

                    <dt><label for="why">Dlaczego chcesz organizować gamejam?</label></dt>
                      <dt><textarea name="why" id="why" style="width:250px;height:150px;"></textarea></dt>
                  </dl>
                  <p><input class="btn btn-primary" type=submit value="Prześlij zgłoszenie"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--The end of new jam form,, the beginning of login form-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Zaloguj się</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post action="/login/">
                  <dl>

                    <dt><label for="username">Nazwa użytkownika</label></dt>
                    <dd><input autofocus id="username" name="username" type="text" value="" autofocus></dd>

                    <dt><label for="password">Hasło</label></dt>
                    <dd><input id="password" name="password" type="password" value=""></dd>
                  </dl>
                  <p><input class="btn btn-primary" type=submit value=Zaloguj></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- The end of login form -->







  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="messages">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
          {% for category, message in messages %}
              <div data-alert class="alert alert-{%if not category=='message'%}{{category}}{%else%}primary{%endif%} alert-dismissible show">
                  {{ message|urlize(30) }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>

    <div style="padding: 50px">
    {% block content %}{% endblock %}
      </div>


  </div>

     {% if not session['accepted']%}
      <div id="myModal" class="mynewmodal-show">

  <!-- Modal content -->
  <div class="mynewmodal-content">
    <div class="mynewmodal-header">
      <h2>Pliki Cookies</h2>
    </div>
    <div class="mynewmodal-body">
              <div class="container">
                  <h3>Ta witryna obsługuje pliki cookies</h3>
                  <br><br>
                  <a class="btn btn-success" href="/cookies-accept">Akceptuję</a>
                  <a class="btn btn-secondary" href="/cookies-about">Dowiedz się więcej</a>

              </div>
    </div>

  </div>

</div>{% endif %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
      $('.modal').on('shown.bs.modal', function() {
    $(this).find('input:first').focus();
  });
    </script>
</body>
</html>
