{% extends "_base.html" %}
<title> {{ session['username'] }} </title>
{% set page_id = "{{ session['username'] }}" %}
<center>
  {% block content %}
  <div class="row mt-3">
    <div class="col-lg-4 mb-3">
      <a class="btn btn-primary btn-block" href="/user_list">Lista użytkowników</a>
    </div>
    <div class="col-lg-4 mb-3">
      <a class="btn btn-primary btn-block" href="/teams">Lista drużyn</a>
    </div>
    <div class="col-lg-4 mb-3">
      <a class="btn btn-primary btn-block" href="/jams">Lista jamów</a>
    </div>
  </div>
  {% endblock %}
</center>