{% extends "_base.html" %}
<title> {{ session['username'] }} </title>
{% set page_id = "{{ session['username'] }}" %}
<center>
{% block content %}
  <div class="row">
      <br>
      <ul>
          <a class="btn btn-primary" href="/user_list">Lista użytkowników ><span class="ml-2 badge badge-primary badge-pill" style="background-color: #999999;"></span></a><br>
            <br>
          <a class="btn btn-primary" href="/teams">Lista drużyn ><span class="ml-2 badge badge-primary badge-pill" style="background-color: #999999;"></span></a><br>
      </ul>
  </div>
{% endblock %}
</center>