{% extends "_base.html" %}
<title> Download page </title>
{% set page_id = "download" %}
<center>
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row-2">
          <h3>Gry do pobrania:<br></h3>
              <br>

          <ul style="list-style-type: none;">

            {% for file in files %}
              <div style="background-color: #cccccc">
                <div class="col">
                    <div class="row">
                <h3 style="margin:12px;"> {{ file.title }}  </h3>
                     </div>
                    <div>
                      <h4>
                      O grze:<br>
                      </h4>
                        <li>
                            {{ file.description }}
                        </li>
                  </div>
                    <div class="row justify-content-end">
                      <li>
                      <a class="btn-sm btn-info" style="margin-right:20px;" role="button" href="/download/{{file.path}}" download="{{file.path}}">Download</a>
                          <br>
                      </li>
                  </div>
                    <div class="row justify-content-end" style="margin-top:10px;">
                      <li>
                          <i>Made by: {{ file.team }}</i>
                          <br><br>
                      </li>
                  </div>
                </div>

              </div>
            <br>
            {% endfor %}

          </ul>
            </div>
            </div>
        <div class="col">
          <h3>Dodaj nowy plik</h3>
          <form method=post enctype=multipart/form-data>
            <p><input type=file name=file>
               <input class="btn btn-info" type=submit value=Upload>
          </form>
            </div>
        </div>
    </div>

{% endblock %}
</center>