{% extends "_base.html" %}
<title> Download page </title>
{% set page_id = "download" %}
<center>
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row-2">
          <h2>Gry do pobrania:<br></h2>
              <br>

              <!--Render listy gier-->
          <ul style="list-style-type: none;">

            {% for file in files %}
              <div style="background-color: rgba(204, 204, 204,.8); border-radius: 25px;" class="container">
                <div class="col-12">
                    <div class="row" data-toggle="collapse" data-target="#{{ file.id }}">

                        <h3 style="margin:12px;"> <strong>{{ file.title }}</strong>  </h3>
                     </div>
                    <div id="{{ file.id }}" class="collapse">
                    <div>
                      <h4>
                      O grze:<br>
                      </h4>
                        <li>
                            {{ file.description }}
                        </li>
                  </div>
                    <div class="row justify-content-end">
                      <li>
                      <a class="btn btn-info" style="margin-right:20px; margin-top:20px;" role="button" href="/download/{{file.path}}" download="{{file.path}}">Download</a>
                          <br>
                      </li>
                  </div>
                    <div class="row justify-content-end" style="ymargin-top:10px;">
                      <li>
                          <i>Made by: {{ file.team }}</i>
                          <br><br>
                      </li>
                  </div>
                </div>
                </div>

              </div>
            <br>
            {% endfor %}

          </ul>
            </div>
            </div>

          <div class="col" style="margin-top: 70px;">
        <a role="presentation" class="container btn btn-info" data-toggle="modal" data-target="#upload" href="#" style="position:fixed; width:300px;">Dodaj grę</a>
          </div>
          <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: left;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Upload</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form method=post enctype=multipart/form-data>
                  <dl>
                    <dt><label for="title">Tytuł gry:</label></dt>
                    <dd><input id="title" name="title" type="text" value="" autofocus></dd>

                    <dt><label for="description">O grze:</label></dt>
                    <dd><input id="description" name="description" type="text" value=""></dd>

                    <dt><label for="file">Dodaj plik</label></dt>
                    <dd><input id="file" name="file" type="file"></dd>
                  </dl>
                  <p style="padding-bottom:20px;"><input class="btn btn-primary" type=submit value="Upload"></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

    </div>

    <div class="col-2"></div>

    </div>

{% endblock %}
</center>