{% extends "_base.html" %}
<title>{{ session['username'] }}</title>
{% set page_id = "messages_normal" %}
<center>
    {% block content %}
    <div class="row">
        <div class="col-12">
            <h2 style="padding:5px; border-radius:5px; background-color: rgba(204, 204, 204,.8)"> Game jamy:</h2>
        </div>
        <br>
        <div class="col-6">
            <h4 style="padding:5px;  border-radius:5px; background-color: rgba(204, 204, 204,.8)">Aktywne Jamy:</h4>
            {% for t in jams %} {% if t.active%}
            <div style="border-radius: 5px; background-color: rgba(204, 204, 204,.8);" class="container">
                <div class="col-12">
                    <div class="row ">

                        <a class="btn btn-info" href="/jam/{{t.id}}" style="margin:12px;">
                            <h3>{{ t.title }}</h3>
                        </a>

                    </div>
                    <div>

                        <h4>
                            <b>Motyw przewodni:</b>
                            <br>
                        </h4>
                        <h5>{{ t.theme }}</h5>


                        <h4>
                            <b>Opis:</b>
                            <br>
                        </h4>
                        <h5>{{ t.description }}</h5>
                        <div class="row justify-content-center">
                            <h5>
                                <b>założony przez:</b>
                                <br>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <a class="btn btn-outline-info " style="marigin:5px;" href="/user/{{t.master}}">{{t.master}}</a>
                        </div>
                        <br>

                    </div>

                </div>
            </div>
            <br> {%endif%} {% endfor %}

        </div>



        <div class="col-6">
            <h4 style="padding:5px;  border-radius:5px; background-color: rgba(204, 204, 204,.8)">Nieaktywne Jamy:</h4>
            {% for t in jams %} {% if not t.active%}
            <div style="border-radius: 5px; background-color: rgba(204, 204, 204,.8);" class="container">
                <div class="col-12">
                    <div class="row ">

                        <a class="btn btn-info" href="/jam/{{t.id}}" {{ t.title }} style="margin:12px;">
                            <h3>{{ t.title }}</h3>
                        </a>
                    </div>
                    <div>

                        <h4>
                            <b>Motyw przewodni:</b>
                            <br>
                        </h4>
                        <h5>{{ t.theme }}</h5>

                        <h4>
                            <b>Opis:</b>
                            <br>
                        </h4>
                        <h5>{{ t.description }}</h5>
                        <div class="row justify-content-center">
                            <h5>
                                <b>założony przez:</b>
                                <br>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <a class="btn btn-outline-info" style="marigin:5px;" href="/user/{{t.master}}">{{t.master}}</a>
                        </div>
                        <br>

                    </div>

                </div>
            </div>
            <br> {%endif%} {% endfor %}
        </div>
    </div>
    {% endblock %}
</center>