{% extends "_base.html" %}

{% set page_id = "main" %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h3>Aplikacja dla twórców gier niezależnych <br> Wymagania strony:</h3>
      <br>
      <ol>
        <h5><li> Rejestracja i logowanie (wraz z rolą: programowanie, grafika, audio) + predefiniowane konto administratora</h5></li>
        <h5><li> Publikowanie, edycja i ukrywanie/usuwanie gier wraz z dystrybucją (archiwum zip)</h5></li>
        <h5><li> W Możliwość dołączenia do zespołu lub utworzenia nowego + dodawanie członków (opcjonalnie: link z zaproszeniem do zespołu)</h5></li>
        <h5><li> Wyszukiwanie gier po nazwie i słowach kluczowych</h5></li>
        <h5><li> Organizacja game jamów (nazwa, motyw przewodni, opis) - tylko osoba mianowana organizatorem może organizować jam</h5></li>
        <h5><li> Rejestracja zespołu na game jam</h5></li>
        <h5><li> Z Możliwość zarządzania użytkownikami: usunięcie/mianowanie organizatorem/administratorem</h5></li>
        <h5><li> Możliwość zgłaszania gier w ramach jamu, aktywna po uprzednim otwarciu i do zamknięcia jamu; rozpocząć i zakończyć go może tylko jego (jamu) organizator</h5></li>

  </li>
      </ol>




  </div>
{% endblock %}