{% extends "_base.html" %}
<title>{{ session['username'] }}</title>
{% set page_id = "messages_normal" %}
<center>
{% block content %}
  <div class="row">
      <center>
        <h3>{{message.title}}</h3>
        <br><h5>Wysłane przez: {{message.author}} w dniu {{message.created}}</h5>
          <br>{{message.content | safe}}
          {% if "Zaproszenie do drużyny " in message.title %}
          <br><a href="/team/{{message.title[23:]}}/join/{{message.adresser}}">Dołącz do drużyny {{message.title[23:]}}</a>
          {%endif%}
          <br>
      <a href="/user/{{user}}/messages">Powrót do wiadomości</a>
      </center>
    <div class="col-12">
    </div>
  </div>
{% endblock %}
</center>