{% extends "_base.html" %}

{% set page_id = "team" %}
<center>
{% block content %}
  <div class="row">
    <div class="col-12">
      <h3>Nazwa zespołu: {{ team.name }}<br></h3>
      Szef zespołu: <a href="/user/{{team.master}}">{{team.master}}</a> <br>
      Mail: {{ team.master_email }}<br>
      Członkowie: {% for i in team.contributors %}{{i}}, {%endfor%}
      {% if admin or session['username']==team.master %}
      <br><a href="/delete-team/{{team.name}}">Usuń ten zespół</a>

          <form action="/team/{{team.name}}/invite" method="post">
        Nazwa <input type="text" name="user" id="user" required><br>
        <button type="submit">zaproś</button>
    </form>

      {% endif %}
    </div>
  </div>
{% endblock %}
</center>