{% extends "_base.html" %}
<title>{{ session['username'] }}</title>
{% set page_id = "{{ session['username'] }}" %}
<center>
{% block content %}
  <div class="row">
      <center>


          <p>Jesteś zalogowany jako {{ session['username'] }}</p>


    <p><a href="/delete/{{user.id}}" > Usuń swoje konto</a></p>


      {% if admin %}
      <p><a href="/admin">Funkcje administratora  </a></p>
            {%endif%}
            <br>

          <a href="/user/{{user.username}}/messages">Twoje wiadomości</a>
            <br>
      {%if teams%}
      twoje zespoły:
          <ol>
        {% for team in teams %}
      <li> <a href="/team/{{team.name}}">{{team.name}}</a>,</li>
      {% endfor %}
          </ol>
      {%endif%}


            {%if teams2%}
      zespoły, w których jesteś:
          <ol>
        {% for team in teams2 %}
       {% if user.username in team.contributors%}
              <li><a href="/team/{{team.name}}">{{team.name}}</a></li>
        {%endif%}
      {% endfor %}
          </ol>
      {%endif%}



    </center>
    <div class="col-12">
    </div>
  </div>
{% endblock %}
</center>