{% extends "_base.html" %}
<title>{{ session['username'] }}</title>
{% set page_id = "user_messages" %}
<center>
  {% block content %}
  <!--<script type="text/javascript">
    function validate() {
        if (document.getElementById('message').checked) {
            document.getElementById('przycisk').innerHTML = "hyhy";
        } else {
            document.getElementById('przycisk').innerHTML = "";
        }
    }
    </script>-->
  <div class="row">
    <div class="col-lg-3 mt-3">
      <a class="btn btn-secondary btn-block" href="/user/{{user}}/">
        < Powrót do użytkownika</a>
          <button class="btn btn-primary btn-block" role="presentation" data-toggle="modal" data-target="#send_message" href="#">+ Nowa wiadomość</button>
          <!--<p id="przycisk"></p>-->
          <hr>
    </div>
    <div class="col-lg-9 mt-3">
      {%if messages %}
      <ul class="list-group list-group-flush">

        {% for message in new_messages %}
        <li class="list-group-item" style="border-radius: 5px; background-color: rgba(204, 204, 204,.8)">
          <div class="col-lg-10">
            <a style="color:#000000; " href="/message/{{message.id}}" >
              {%if message.new%}
              <h3>{{message.title}}
                <span class="badge badge-secondary">New</span>
              </h3>
            </a>
            <b>wysłana przez {{message.author}} | {{message.created}}</b>
            {%endif%}
          </div>
        </li>
        {% endfor %} {% for message in old_messages%}
        <li class="list-group-item" style="border-radius: 5px; background-color: rgba(204, 204, 204,.8)">
          <div class="col-lg-10">
            <a class="text-primary" href="/message/{{message.id}}">
              {%if not message.new%}
              <h4>{{message.title}}</h4>
            </a>
            wysłana przez {{message.author}} | {{message.created}} {%endif%}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else%}
      <center>
        <h3>Brak wiadomości 🙁</h3>
      </center>
      {% endif%}
    </div>
  </div>
  <div class="modal fade" id="send_message" tabindex="-5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="text-align: left;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 style="text-align: left;" class="modal-title" id="exampleModalLabele">Wyślij nową wiadomość</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form method=post action="/message/create">
              <dl>
                <dt>
                  <label for="username">Nazwa użytkownika, do którego chcesz wysłać wiadomość</label>
                </dt>
                <dd>
                  <input id="username" name="username" type="text" value="" autofocus>
                </dd>

                <dt>
                  <label for="title">Tytuł wiadomości</label>
                </dt>
                <dd>
                  <input id="title" name="title" type="text" value="">
                </dd>


                <dt>
                  <label for="content">Treść wiadomości</label>
                </dt>
                <dt>
                  <textarea name="content" id="content" style="width:250px;height:150px;"></textarea>
                </dt>
              </dl>
              <p>
                <input class="btn btn-primary" type=submit value="Wyślij">
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</center>