{% extends "_base.html" %}
<title> Lista użytkowników </title>
{% set page_id = "user_list" %}
{% block content %}
  <div class="row mt-1">
  <div class="col-lg-6 mt-3">
        <div class="list-group">
            <li class="list-group-item active" href="">Admini</li>
            {%for a in users%}
            {%if a.admin and a.id!=1%}
            <li class="list-group-item list-group-item-active">
                <a class="btn m-1" href="/admin/user/{{a.id}}">{{a.username}}</a>
                <span class="ml-2 badge badge-primary badge-pill" style="background-color: #999999;"></span>
                <a class="float-right btn btn-danger m-1" href="/delete/{{a.id}}">Usuń</a>
                <a class="float-right btn btn-info m-1" href="/take_admin/{{a.id}}">Odbierz admina</a>
            </li>
          {%endif%}
              {%endfor%}
        </div>
    </div>
    <div class="col-lg-6 mt-3">
        <div class="list-group">
            <li class="list-group-item active" href="">Użytkownicy</li>
            {%for a in users%}
            {%if a.id!=1%}
            <li class="list-group-item">
                <a class="btn m-1" href="/admin/user/{{a.id}}">{{a.username}}</a>
                <span class="ml-2 badge badge-primary badge-pill" style="background-color: #999999;"></span>
                <a class="float-right btn btn-danger m-1" href="/delete/{{a.id}}">Usuń</a>
                <a class="float-right btn btn-info m-1" href="/give_admin/{{a.id}}">Daj admina</a>
            </li>
          {%endif%}
              {%endfor%}
        </div>
    </div>
</div>
{% endblock %}
</head>
<body>
</body>
</html>