{% extends "_base.html" %}
<title>{{ session['username'] }}</title>
{% set page_id = "{{ session['username'] }}" %}
<center>
{% block content %}
  <div class="row">
      Jesteś zalogowany jako {{ session['username'] }}
<br><br>
      {% if admin %}
      <a href="/admin">Funkcje administratora  </a><br>
      {%endif%}

        <br>
      <br> <a href="/delete/{{id}}" > Usuń swoje konto</a>
        <br>{{job}}<br>
      {%if teams%}
      twoje zespoły:
        {% for team in teams %}
       <a href="/team/{{team}}">{{team}}</a>,
      <br>
      {% endfor %}
      {%endif%}

            {%if teams2%}
      zespoły, w których jesteś:
        {% for team in teams2 %}
       <a href="/team/{{team}}">{{team}}</a>,
      <br>
      {% endfor %}
      {%endif%}


      <!--<br>{{job}}-->
    <div class="col-12">
    </div>
  </div>
{% endblock %}
</center>