{% extends "_base.html" %}
<title> Kontrola nad użytkownikiem {{username}} </title>
{% set page_id = "user_control" %}
<center>
{% block content %}
  <div class="row">
      <br>
      <ul>

          <br> <a href='/delete/{{user.id}}' >Usuń konto użytkownika {{username}}</a></h3>
          {% if user.admin%}
          <br> <a href='/take_admin/{{user.id}}' >Odbierz uprawnienia administratora użytkownikowi {{username}}</a></h3>

          {% else %}

            <br> <a href='/give_admin/{{user.id}}' >Przekaż uprawnienia administratora użytkownikowi {{username}}</a></h3>

          {% endif %}
<br>
          Zespoły należące do użytkownika:
          {% for t in teams%}
          <ol>
          {% if t.master==user.username%}
            <li> <a href="/team/{{t.name}}">{{t.name}}</a>,</li>
              {%endif%}
        </ol>
          {% endfor %}

          Zespoły, do których użytkownik jest zapisany:
          {% for t in teams%}
          <ol>
              {%if user.username in t.contributors%}
              <li> <a href="/team/{{t.name}}">{{t.name}}</a>,</li>
              {%endif%}
          </ol>
         {%endfor%}

      </ul>
  </div>
{% endblock %}
</center>
</head>
<body>
</body>
</html>