{% extends "_base.html" %}
<title> Lista użytkowników </title>
{% set page_id = "user_list" %}
<center>
{% block content %}
  <div class="row">
      <br>
      <ul>
          <h4>ADMINI:</h4>
              {%for u in users%}
          {%if u.admin and u.id!=1%}
          <a class="btn btn-primary" href="/admin/user/{{u.id}}"> Użytkownik {{u.username}} ><span class="ml-2 badge badge-primary badge-pill" style="background-color: #999999;"></span></a><br>
              <br>
          <br>
          {%endif%}
              {%endfor%}
          
          <h4>UŻYTKOWNICY: </h4>
          {%for a in users%}
            {%if a.id!=1%}
               <a class="btn btn-primary" href="/admin/user/{{a.id}}"> Użytkownik {{a.username}} ><span class="ml-2 badge badge-primary badge-pill" style="background-color: #999999;"></span></a><br>
                        <br>

          {%endif%}
              {%endfor%}
          <br>

      </ul>


  </div>
{% endblock %}
</center>
</head>
<body>
</body>
</html>